* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  font-size: 14px;
}

#answerList {
  list-style: none;
}

.highScores {
  color: #0051ff;
  cursor: pointer;
}

.quiz-area {
  width: 28%;
  margin: auto;
  text-align: center;
}

.welcomeHeader { 
  padding: 20px 0;
  font-size: 30px;
}

.btn {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #002a86;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #0051ff;
}

.qAnswers { 
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 36%;
  margin: 10px;
}

#d {
  margin-bottom: 20px;
}

.yes-no {
  opacity: 0;
  border-top: 2px solid #80808075;
  width: 28%;
  margin: auto;
}

/* Utilities */
.textLeft { 
  text-align: left;
}

.padding {
  padding-top: 10px;
}

.submit-btn {
  margin-left: 10px;
  padding: 4px 15px;
  border-radius: 5px;
  color: white;
  background: #002a86;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0051ff;
}

#initialInput {
  padding: 4px;
}

.yes-no-color {
  color: #80808075;
  padding: 10px;
  font-size: 20px;
}
/* Utilites END */